<footer class="page-footer blue darken-2">
	<div class="container footer-head">
		<div class="row">
			<div class="col m8 s12">
				<h5 class="white-text">Food for thought</h5>
				<blockquote class="grey-text text-lighten-4" id="quote">
					...
				</blockquote>
			</div>
			<div class="col m3 offset-m1 s12">
				<h5 class="white-text">Quick Links</h5>
				<ul>
					<li><a href="/" id="link">About</a></li>
					<li><a href="/portfolio">Portfolio</a></li>
					<li><a href="/resume">Resume</a></li>
					<li><a href="/hireme" id="link">Hire me</a></li>

				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			<div class="row">
				<div class="col m9 s12">
					Made by <a class="blue-text text-lighten-3" href="/">&copy; Vignesh Ramesh</a>
				</div>
				<div class="col m3 s12">
					<span class="social">
						<a href="http://www.linkedin.com/in/techievignesh" target="_blank"><i
								class="fa fa-linkedin-square" aria-hidden="true"></i></a>
						<a href="http://www.github.com/vramazing" target="_blank"><i class="fa fa-github-square"
								aria-hidden="true"></i></a>
						<a href="https://www.youtube.com/c/codervee" target="_blank"><i class="fa fa-youtube-square"
								aria-hidden="true"></i></a>
					</span>
				</div>
			</div>
		</div>

	</div>
</footer>
</div>
<link href="https://fonts.googleapis.com/css?family=Roboto|Playfair+Display|Lato" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script>(function (d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.1&appId=477623965988258&autoLogAppEvents=1';
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" async></script>
<script src="./scripts/data.min.js" async></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.core.min.js" async></script>
</body>

</html>