<div class="container nopage">
    <img src="images/no.png" alt="image contact" >
  <h1 class="blue-text text-darken-3">Not Found</h1>
  <em>Sorry, but the page you were trying to view does not exist.</em>
</div>