<!-- Header Banner -->
<div>
  <div class="section no-pad-bot scrollspy" id="Home">
    <div class="container">
      <div class="intro-text">
        <h1 class="header center white-text ">Vignesh Ramesh</h1>
        <div class="row center">
          <h4 class="header col s12  light  white-text">Sr. Software Engineer &amp; Tech Evangelist</h4>
          <a href="#About" id="link" class="scroll-arrow"><i class="fa fa-chevron-circle-down fa-3x white-text"
              aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>

  <!-- Quote -->
  <div class="container-fluid quote blue z-depth-1">
    <div class="row ">
      <div class="col s12">
        <br>
        <p class="center white-text">Leveraging JavaScript &amp; Python Expertise to Drive Innovation &amp; Optimize Performance.</p>
      </div>
    </div>
  </div>

  <!-- About Me -->
  <div class="container-fluid scrollspy" id="About">
    <div class="section about center">
      <div class="row">
        <div class="col s12">
          <img alt="profile_pic" src="./images/me.png" class="profilePic center" height="200">
          <h4 class="center">Vignesh Ramesh</h4>
          <ul>
            <li>Innovative Software Engineer with 7+ years of creating and managing software and leading cross-functional
              teams. </li>
            <li>Skilled
              in javascript and python frameworks and technologies.</li>
            <li>Regularly exceed performance targets and possess advanced
              analytical and problem-solving skills. </li>
              <li>Adept at leveraging cutting-edge digital tools and platforms to
              achieve software
              development objectives.</li>
          </ul>
          <a href=""><h5 class="center  blue-text">My technology stack includes...</h5></a>
        </div>
      </div>
    </div>

    {{!-- https://www.w3schools.com/howto/howto_css_skill_bar.asp --}}
          <div class="carousel" style="margin:20px 0 0 0!important;padding:0px">
          {{#each techStack}}
          <a class="carousel-item"><img alt={{imgAlt}} src={{imgUrl}}></a>
          {{/each}}
        </div>
  </div>
</div>

<div> <br /><br />

  <!-- Testimonials Offered -->
  <div class="container-fluid grey lighten-5 scrollspy" id="Testimonials">
    <div class="section portfolio">

      <h5 class="center  blue-grey-text"> What my clients say about me...</h5>
      <br />

      <div class=" container">
        {{#each testimonials }}
        <blockquote class="teal-text"><br />
          <i class="fa fa-quote-left fa-1x" aria-hidden="true"></i>
          <span>{{content}}</span>
          <footer class="right">
            <em class="grey-text lighten-5">
              {{author}}
            </em>
          </footer>
          <br />
        </blockquote>
        {{/each}}
        <br />
        <br />
      </div>
    </div>
  </div>
</div>
</div>