<div class="container">	
	<br />
	<br /> 
	<br /> 
	{{!-- <div class="art-row"> --}}
		{{#each artwork}}
		 	<div class="art-column">
				<img class="{{tagClass}}" src={{imgUrl}} alt={{imgAlt}} />
			</div>
		{{/each}} 
	{{!-- </div> --}}
</div>
