<div class = "row art">
	<br />
	<br /> 
	<br /> 
	<div class="col s12 art-holder">
		{{#each logos}}
			<img class="materialboxed" width="150" src={{imgUrl}} alt={{imgAlt}}>
		{{/each}}
	</div>
</div>
