<div class="container-fluid">
	<br />
	<br />
	<br />

	<div style="justify:center; align:center">
		<h5 class="center teal-text">{{length}}+ professional logos and  counting.</h5>
		<br /> 
		<div class = "row art" style="margin:auto">
			
			<div class="col s12 art-holder" >
				<center>
					{{#each logos}}
					<img class="materialboxed" width="200" src={{imgUrl}} alt={{imgAlt}}>
					{{/each}}
				</center>
			</div>
		</div>
	</div>
</div>

