<div class="logo-container">
	
 	<h5 class="center teal-text" style="font-style: italic">{{logos.length}} + professional logos and Counting</h5>

 	<br />

	<div class="rows logos grid">
		{{#each logos}}
			<div id="image-container">
				<img src={{imgUrl}} alt={{imgAlt}}>
			    {{!-- <div class="overlay">My Name is John</div> --}}
			</div>
		{{/each}}
		
	</div>

</div>

