*{
	padding:0px;
	margin:0px;
	font-size:16px;
	font-family: 'Lato', sans-serif;

}

nav{

	div >a , div>ul>li>a{color:#585858
	}
	
	.brand-logo{margin-top:10px;}

}

#index-banner{
	background-image: url(../images/Background1.jpg);
	height: 500px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}

ul.right.hide-on-med-and-down li a:hover{
	border-bottom: 2px solid black;
	
}

.section.no-pad-bot{

	text-shadow: 2px 1px 1px #000;

	h1{
		
		font-family: 'Lobster Two', sans-serif;
		
		}
	

}

.container-fluid.quote{
	padding:20px;

	p{
		font-size: 20px;
		font-style: italic;
	}
}

.container .section.about{
	p{
		font-size: 20px;
		span{
			font-size: 20px;
		}
		a{
			font-size: 20px;
		}
		
	}
}

.portfolio{
	padding:40px 80px 60px 80px;

	h5{
		font-size: 20px;
		font-style: italic;
	}
}

.section.technology{
		h4{font-size: 25px;}

		.row{
			 
			column-width: 150px;
			column-gap: 30px;
		    width: 80%;
			max-width: 1290px;
			margin: 50px auto;
	
		}
	}

.container.contact{
	padding:0px 80px 80px 80px;
	
}
p.center.grey-text.touch{
	
		font-size: 20px;
		font-style: italic;
		font-weight: bold;
	
	
}

span.social{float:right;
	i{  
		font-size:30px;
		color:white;
		padding:2px;

		&:hover{
			
			color:#acacac;
		}
	}
}

footer li a,footer a{
	color:white;
	&:hover{
		text-decoration: underline;
	}
}