*{
	padding:0px;
	margin:0px;
	font-size:16px;

}

nav{

	div >a , div>ul>li>a{color:#585858
	}
	
	.brand-logo{margin-top:10px;}

}

#index-banner{
	background-image: url(../images/Background5.png);
	height: 500px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}

ul.right.hide-on-med-and-down li a:hover{
	border-bottom: 2px solid black;
	
}
